:root {
    --white : hsl(0, 0%, 100%);
    --rosewhite :hsl(330, 100%, 98%);
    --eggshell : hsl(30, 54%, 90%);
    --lightgrey : hsl(30, 18%, 87%);
    --wengebrown :hsl(30, 10%, 34%);
    --darkcharcoal :hsl(24, 5%, 18%);
    --nutmeg : hsl(14, 45%, 36%);
    --darkraspberry : hsl(332, 51%, 32%);

    /* Setting variables (love it) */
}

body {
    margin: 0;
    font-family: 'Outfit', sans-serif;
    font-size: 0.965rem;
    font-weight: 500;
    line-height: 1.5;
    color: var(--wengebrown);
    background-color: var(--eggshell);

}

section {
    padding: 1.2rem 0rem 1.2rem 0rem;
}


.recipe-container {

    max-width: 735px;

    background-color: var(--white);
    padding: 1.75em;
    margin: 5rem auto; /* 5rem on top and bottom, auto left and right to center */

    border-radius: 1.25rem;

}

.all-sections {
    background-color: aqua;
}

body img{
    width: 100%;
    object-fit: cover;



}

h1,h2 {
    font-family: 'Young Serif', serif;
}

h1 {
    font-size: 2.2rem;
    font-weight: 500;
    line-height: 1;
    color: var(--darkcharcoal);
    margin: auto;
}

h2 {
    color: var(--nutmeg);
    font-size: 1.8rem;
    font-weight: 300;
    margin: auto;
}

h3 {
    color: var(--darkraspberry);
    font-size: 1.2rem;

}
ul {
    line-height: 2;
}

li::marker
{
    color: var(--darkraspberry);
    font-weight: bold;
}

.presentation-container p {
    padding-bottom: 1rem;
}
.preparation-time {
    background-color: var(--rosewhite);
    padding: 0.1rem 1.6rem 0.1rem 1.6rem;
    border-radius: 1.1rem;
}



.ingredients-container,
.instructions-container {
    border-bottom: solid 1px hsl(0, 0%, 0%,0.1);
}

.instructions-container ol {
    padding-left: 1.56rem;
}

.instructions-container li {
    padding-left: 1.5rem;
    padding-top: 0.5rem;
}

table {
    border-collapse: collapse;
    width: 100%;
}

td, th {
    padding: 1.2rem;
    text-align: left;
}
td {
    font-weight: 600;
}
th {
    color: var(--nutmeg);
}

tr {
    border-bottom: 1px solid hsl(0, 0%, 0%,0.2);
}
tr:last-child {
    border-bottom: none;
}

@media screen and (min-width : 375px) {



    body {
        font-size: 1.05rem;
    }

    body img{
    border-radius: 15px;
    }

    h1 {
        font-size: 2.65rem;
    }

    td, th {
    padding: 1.1rem;
    }
}