* {
    margin: 0;
}

body {
    background-color:#F3E5D8 ;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
    color: #4F4A46;
    line-height: 1.5;

}
.all-container {
    background-color: rgb(255, 255, 255);
    margin: 150px 300px 150px 300px;
    padding: 50px;
    border-radius: 20px;

}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}

section {
    padding : 13px 0px 13px 0px;
}

h1, h2, h3, h4 {
    font-family: 'Young Serif', serif;
    font-weight: 400;
    padding: 0px 0px 13px 0px ;
}


h2, h3, h4, th {
    color: #7E4834;
}


h1 {
    font-size: 44px;
}

h2, h3, h4 {
    font-size: 31px ;
}

.presentation-container p {

    padding-bottom: 30px;
}

.preparation-time {

    padding: 25px;
    background-color: #FFF7FC;
    border-radius: 20px;
}

.preparation-time p {

    color: #5C1834;
    font-size: 20px;
    padding: 10px;


}

.preparation-time ul, .ingredients-container {
    line-height: 2.2;
}

.ingredients-container li {
    padding: 0px 20px 0px 20px;
}


.ingredients-container,
.instructions-container {
    border-bottom: solid 1px hsl(0, 0%, 0%,0.2);

}

.ingredients-container {
    padding: 0px 0px 25px 0px;
}


.instructions-container li {
    padding: 5px 20px 5px 20px;
}


.instructions-container,
.nutrition-container {
    padding: 25px 0px 25px 0px;
}

.nutrition-container p {
    padding-bottom: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;

}

tr {
    border-bottom: 1px solid hsl(0, 0%, 0%,0.2);

}

th {

    text-align: left;
}

td {
}

th,td {
    padding: 15px 0px 15px 20px;
}



@media screen and (max-width : 375px) {
    .all-container {

        margin:0; 
        padding: 25px;
    
    }
    h1 {
        font-size: 30px;
    }
    h2, h3, h4 {
        font-size: 25px ;
    }

    body {

        font-size: 14px;
    }

    img {
        border-radius: 0px;


    }

    .alltxt-container {
        padding: 15px;
    }

    h1 {
        line-height: 1.2;
    }

    .preparation-time ul, .ingredients-container {
        line-height: 1.95;
    }
    


}